{% extends "base.html" %}
{% block content %}
<h1>Add user</h1>
<form action="/add_user" method="post" enctype="multipart/form-data">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <input type="file" name="profile_picture" id="avatar">
    <input type="submit" value="Create user">
</form>
{% if let Some(message) = message %}
<p>{{ message }}</p>
{% endif %}
{% endblock %}
